
  
  .wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 25%;
    color: #444;
    width: 75%;
    margin-left: 32%;


  }
  
  .box {
    background-color: white;
    color: gray;
    padding: 20px;
    font-size: 150%;
    margin: 10% 0;
    border-radius: 25px;
    text-align: center
  }

  .box h5{
    font-weight: 600;
    color: blue;
  }