
  
  .wrapper {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 20%;
    color: #444;
width: 60%;    
margin: 0 auto;
  }
  
  .box {
    background-color: white;
    color: gray;
    padding: 20px;
    font-size: 150%;
    margin: 10% 0;
    border-radius: 25px;
    text-align: center
  }

  .box h5{
    font-weight: 600;
    color: blue;
  }

  @media (max-width:671px){
    .wrapper{
      display: unset;
    }
  }