.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282561;
    overflow-x: hidden;
    border-right: black 1px solid;
    
    }

    .sidenav a {
    text-decoration: none;
    font-size: 5vh;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.snag-div{
    background-color: white;
height: 15%;
}

.snag-div img{
   height: 100%;
   width:100%;
}

.sidenav i{
    color: white;

}

/* .fa-ul hr{
    border-top: 1px solid gray;
    width: 100%;
} */

.fa-ul{
 color: white;
 width: 4vw;
 margin: 0 auto;
}

.fa-ul li{
    margin-bottom: 50%;
    margin-top: 25%;

}

.fa-ul li:hover, .fa-ul i:hover{
    transition-duration: 700ms;
    color: #009999;
}