.applicant-li {
  border: solid 1px black;
  width: 75%;
  /* margin: 0 0 1% 0%; */
  padding: 1%;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
}

.home-columns{
  display: flex;
}
.sidebar-div{
  width: 50%;
  margin: 0 auto;
}


/* body{
  text-align: center;

} */

.applications ul{
  list-style: none;
  margin-top: 1%;
}

.body{
  /* justify-items: center !important */
}

.applicant-li ul{
  list-style: none;

}

.footer{
  position:absolute;
left:0;
bottom:0;
right:0;
text-align: center;
}

.applicant{
  display: inline-flex
}


.button-div{
  float: right;
}

.app{
  width: 75%;
  margin: 0 auto;
}


@media(max-width:900px){
  .app-table{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  };
  .app{
    justify-content:center;
    text-align: center;
  }
}


@media(max-width:900px){
  .app{
    margin: unset;
    margin: 80px auto 0 auto;
  }
}