.applicant-li {
  border: solid 1px black;
  width: 75%;
  /* margin: 0 0 1% 0%; */
  padding: 1%;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
}

.home-columns{
  display: flex;
}
.sidebar-div{
  width: 50%;
  margin: 0 auto;
}


/* body{
  text-align: center;

} */

.applications ul{
  list-style: none;
  margin-top: 1%;
}

.body{
  /* justify-items: center !important */
}

.applicant-li ul{
  list-style: none;

}

.applicant{
  display: inline-flex
}


.button-div{
  float: right;
}
.main{
  width:800px;
  margin: 0 auto;
}

body{
  text-align: center;
  margin-left: 0 50px;
}

@media(max-width:835px){
  .applicant-li{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  };
  .app{
    justify-content:center;
    text-align: center;
  }
}

@media(max-width:671px){
  .button-div{
    /* z-index: -1; */
  }
}

